/* line 2, slider.scss */
slider, [slider] {
  display: inline-block;
  position: relative;
  height: 7px;
  width: 100%;
  /*margin: 25px 5px 25px 5px;*/
  margin-bottom: 28px;
  margin-top: 18px;
  vertical-align: middle;
}
/* line 10, slider.scss */
slider div, [slider] div {
  white-space: nowrap;
  position: absolute;
}
/* line 14, slider.scss */
slider div.bar, [slider] div.bar {
  width: 100%;
  height: 100%;
  border-radius: 7px;
  background: #444;
  overflow: hidden;
}
/* line 21, slider.scss */
slider div.bar .selection, [slider] div.bar .selection {
  width: 0%;
  height: 100%;
  background: #F9690E;
}
/* line 28, slider.scss */
slider div.handle, [slider] div.handle {
  cursor: pointer;
  width: 20px;
  height: 20px;
  top: -8px;
  background-color: #fff;
  border: 1px solid #000;
  z-index: 2;
  border-radius: 100%;
}
/* line 38, slider.scss */
slider div.handle:after, [slider] div.handle:after {
  /*content: '';*/
  background-color: #777;
  width: 8px;
  height: 8px;
  position: absolute;
  top: 6px;
  left: 6px;
  border-radius: 100%;
}
/* line 48, slider.scss */
slider div.handle:after:hover, [slider] div.handle:after:hover {
  background-color: #000;
}
/* line 53, slider.scss */
slider div.handle.active:after, [slider] div.handle.active:after {
  background-color: #f00;
}
/* line 58, slider.scss */
slider div.bubble, [slider] div.bubble {
  display: none;
  cursor: default;
  top: -22px;
  padding: 1px 3px 1px 3px;
  font-size: 0.7em;
  font-family: sans-serif;
}
/* line 66, slider.scss */
slider div.bubble.active, [slider] div.bubble.active {
  display: inline-block;
}
/* line 70, slider.scss */
slider div.bubble.limit, [slider] div.bubble.limit {
  color: #777;
}
