/* Base CSS */

html {
	position: relative;
	min-height: 100%;
}
body {
	/* Margin bottom by footer height */
	margin-bottom: 60px;
  color: #444;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding-top: 10px;
	/* Set the fixed height of the footer here */
	height: 40px;
	background-color: #f5f5f5;
}

.glyphicon{
  color: #444;
}

.glyphicon:hover{
  opacity: 0.7;
}

.navbar{
	background-color: transparent;
	border-bottom: 1px solid #999;
}

.navbar .navbar-brand{
	font-family: orbitron, sans-serif;
	font-size: 1.8em;
	font-weight: 900;
	color: #444;
}

.logo .science, a, a:hover{
	color: #F9690E;
}

.btn-primary {
  background-color: #F9690E;
  border-color: #fff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #F9690E;
  border-color: #fff;
  opacity: 0.8;
}

/* Car Card */

.car{
  padding: 5px;
  background-color: #efefef;
  margin-bottom: 5px;
}

.car a{
  color: #F9690E;
}
/*.car:hover, #pinned-cars .car:hover{
  background-color: #fff;
}*/

.car hr{
  margin-top: 0px;
  margin-bottom: 2px;
  border-top: 1px solid black;
}

.car .pin, .specs .price, .filter-reset, .toggle-search-view{
  display: block;
  float: right;
}

/*.car .pin:hover{
  color: gray; 
}*/

.car .graphs{
  display: inline-block;
  cursor: pointer;
}

.car .specs .graphs > div.bar{
  height: 10px;
  display: inline-block;
  width: 55px;
  border: 1px solid black;
  margin-right: 5px;
  position: relative;
}

.car .graphs .bar .max, .car .graphs .bar .min{
  position: absolute;
}

.graphs .power div.min, .graphs .torque div.min, .graphs .mileage div.min{
  height: 100%;
  background-color: #444;
}
.graphs .power div.max, .graphs .torque div.max, .graphs .mileage div.max{
  height: 100%;
  background-color: #888;
}


.car .price{
  color: #444;
  font-weight: bold;
}
/*.graphs .torque div{
  height: 100%;
  background-color: black;
}*/
.car .details .badge{
  font-size: 0.9em;
  cursor: pointer;
  border-radius: 2px;
  margin-right: 5px;
  display: inline;
  color: #fff;
}

.car .condensed-details{
  display: inline-block;
}



.badge.primary {
  background-color: #444;
}

.badge.default {
  background-color: #888;
}

.vertical-rule{
  width: 0px;
  height: 100%;
  position: absolute;
  border-right: 1px dotted #aaa;
  text-align: left;
  z-index: 1;
}
