{% extends "base.html" %}
{% block extrahead %}
<style>
img{
	width: 100%;
}
</style>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-sm-4">
  	<h4>About</h4>
    <hr>
    <p>CarbonFiber helps enthusiasts reseach cars like they want to.</p>
    <p>The engine comes first. When you search for cars, we highlight the most important engine and performance data through clean and meaningful visuals.</p>
    <p>A car looks like the block on the right. The three bars (in order) represent horsepower, torque, and mileage. Additional details are represented below these bars, along with the price.</p>
    <p>The purpose is to create a compact visual encoding of a model that aids in comparison with other models.</p> 
    <p>The site is currently in beta. We will keep on adding features over the coming weeks, so keep cheking!</p>
    <p>
      <a href="/search/" class="btn btn-default">Start Exploring</a>
    </p>
  </div>
  <div class="col-sm-8">
  	<img src="/static/img/car-card-diagram.png">
  </div>
</div>
{% endblock %}