{% extends "base.html" %}

{% block extrahead %}
<style type="text/css">

/* Logo image styling */
#manufacturers .logo-container {
  height: 70px;
  width: 12.5%;
  float: left;
  white-space: nowrap;
  margin: 1em 0;
  text-align: center;
  /*background-color: #eee;*/
}

#manufacturers .helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.logo-container img{
  width: 50px;
  vertical-align: middle;
}
</style>
{% endblock %}

{% block content %}

<div class="row" ng-app="searchApp">
{% raw %}
  <div class="col-sm-4" ng-controller='SearchController as search'>
  	<h4>About</h4>
    <hr>
    <p>
    Car Science helps enthusiasts reseach cars like they want to.
    </p>
    <p>
    The engine comes first. When you search for cars, we highlight the most important engine and performance data through clean and meaningful visuals.
    </p>
    <p>
    A car looks like the block below. The three bars (in order) represent horsepower, torque, and mileage. Additional details are represented below these bars, along with the price. 
    <div class="car">
      <div class="heading">
        <a class="pin" href="#"><span class="pin glyphicon glyphicon-pushpin"></span></a>
        <small><strong><a href="#">Audi R8</a></strong></small>
      </div>
      <hr>
      <div class="specs">
        <div class="graphs">
          <div class="power bar">
            <div class="max" style="width:77%;"> <div class="min" style="width:94%;"> </div> </div> 
          </div>
          <div class="torque bar"> 
            <div class="max" style="width:88%;"> <div class="min" style="width:87%;"></div> </div>
          </div>
          <div class="mileage bar"> 
            <div class="max" style="width:24%;"> <div class="min" style="width:95%;"></div></div> 
          </div>
        </div>  
        <div class="misc">
          <span class="price"><small>$150,000</small></span>
          <small class='details'>
            <span>MANUAL AUTOMATIC</span>
          </small>
        </div>
      </div>
    </div>
    </p>
    <p>
    The site is currently in beta. We will keep on adding features over the coming weeks, so keep cheking!
    </p>
    <p>
      <a href="/search/" class="btn btn-default">Start Exploring</a>
    </p>
    
  </div>
{% endraw %}
  <div class="col-sm-8" id="manufacturers">
  	{% for make in makes %}
      <div>
        <div class="logo-container">
          <span class="helper"></span><img src="/static/img/logos/{{make.nice_name}}.png" />
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% endblock %}

{% block extrascripts %}
<script type="text/javascript"></script>
{% endblock %}

