{% extends "base.html" %}

{% block extrahead %}
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.2/fotorama.css">
<style type="text/css">
img {
  width: 100%;
  /*box-shadow: 0px 0px 15px 1px #888888;*/
}

.active {
  background-color: #fff;
}

</style>
{% endblock %}

{% block content %}
<h3 class=""><a href="{{request.path}}">{{model.full_name}}</a></h3>
<hr>
{% raw %}
<div class="row" ng-app="variantsApp" ng-controller="VariantsController as variants">

	<div class="col-sm-4">
    
    <h4>Summary</h4>
    <div id="summary"></div>
    <hr>
    <div class="row">
      <div class="col-sm-6">
        <h6>Pros :</h6>
        <div id="pros"></div>    
      </div>
      <div class="col-sm-6">
        <h6>Cons :</h6>
        <div id="cons"></div>
      </div>
    </div>
    
    <hr>

    <h4> Trims </h4>
    <div class="vertical-rule hide" style="left: 400px;"></div>

    <div class="year-group" ng-repeat="year in variants.model.years">
      <h5>{{year}}</h5>
      <div class="car" ng-repeat="car in variants.cars" ng-if="car.year === year" ng-class="{active : variants.isSelected(car)}">
        <div class="heading">
          <small><strong><a href="#specs-table" ng-click="variants.selectCar(car, $event)">{{car.name}} - {{car.year}}</a></strong></small>
        </div>
        <hr>
        <div class="specs">
          <div class="graphs">
            <div class="power bar" ng-mousemove="variants.showVerticalRule($event)" ng-mouseout="variants.hideVerticalRule()" tooltip="{{car.specs.power}} hp" tooltip-placement='bottom'>
              <div class="min" style="width: {{variants.math.min(100,car.specs.power / 7.0)}}%;"> </div> 
            </div>
            <div class="torque bar" ng-mousemove="variants.showVerticalRule($event)" ng-mouseout="variants.hideVerticalRule()" tooltip="{{car.specs.torque}} ft-lbs" tooltip-placement="bottom"> 
              <div class="min" style="width: {{variants.math.min(100,car.specs.torque / 8.2)}}%;"></div>
            </div>
            <div class="mileage bar" ng-mousemove="variants.showVerticalRule($event)" ng-mouseout="variants.hideVerticalRule()" tooltip="{{car.specs.mileage}} mpg" tooltip-placement="bottom"> 
              <div class="min" style="width: {{variants.math.min(100,car.specs.mileage * 1.5)}}%;"></div> 
            </div>
          </div>  
          <div class="misc">
            <span class="price"><small>{{car.price | currency:undefined:0}}</small></span>
            <small class='details'>
              <span class="badge primary transmission"><small> {{car.specs.gearbox}}</small></span>
              <span class="badge default fuel"> {{car.specs.fuel_type}}</span>
            </small>
          </div>
        </div>
      </div>
    </div>

	</div><!-- end col-sm-4 -->
	
	<div class="col-sm-8">
    <div ng-show='!variants.selected_car'>
      <div class="car-gallery fotorama" data-width="100%">
        <!-- Images go here -->
      </div>
    </div>
    <div ng-show="variants.selected_car" id="specs-table">
      <h4>{{variants.selected_car.name}} - {{variants.selected_car.year}}</h4>
      <table class="table">
        <tr ng-repeat="(key, val) in variants.selected_car.specs">
          <td>{{key.replace("_", " ") | uppercase}}</td>
          <td>{{val}}</td>
        </tr>
      </table>
      <a href="http://www.edmunds.com/" class="btn btn-primary">Get Full Specifications at Edmunds.com</a>
    </div>

    <div id="review">
      <h4 class="page-header">Review</h4>
      <!-- <h5>Introduction</h5> -->
      <div id="introduction"></div>
      <!-- <h5>Analysis</h5> -->
      <!-- <div id="body"></div> -->
      <h4>Verdict</h4>
      <div id="verdict"></div>
      <p>
        Read the full review at <a id="full-review" href="">edmunds.com</a>.
      </p>

    </div>
	
  </div>

</div>
{% endraw %}
{% endblock %}


{% block extrascripts %}
<script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.2/fotorama.js"></script>
<script type="text/javascript" src="/static/js/ui-bootstrap-tpls-0.12.0.min.js"></script>
<script type="text/javascript" src="/static/js/edmunds.api.sdk.js"></script>
<script type="text/javascript">
  var app = angular.module('variantsApp', ['ui.bootstrap']);

  /* Controllers */
  app.controller('VariantsController', ['$http', function($http){
    var ctrl = this;
    this.model = {};
    this.cars = [];
    this.selected_car = null;
    this.math = window.Math;

    var params = location.pathname.split('/');
    var makeName = params[2],
      modelName = params[3];

    var res = new EDMUNDSAPI('nvk795fzfqtmjwuc7t6tum2k');

    $http.get('/api/model/' + makeName + '/' + modelName)
      .success( function(data, status) {
        ctrl.model = data;
        ctrl.model.years.sort( function(a,b){ return b-a; } ); // descending order
        var modelImages = []
        for (var i = 0; i < ctrl.model.images.length; i++){
          modelImages.push( {img : ctrl.model.images[i]} );
        }
        $('.car-gallery').fotorama({
          data: modelImages
        });
        ctrl.getReview();
        ctrl.getVariants();
    });

    this.getVariants = function(){
      $http.get('/variant/'+ctrl.model._id.$oid+'/').success( function( data, status ){
        for (var i=0; i < data.length; i++){
          data[i].display_specs = [];
          for (k in data[i].specs){
            prop = {};
            prop[k] = data[i].specs[k];
            data[i].display_specs.push( prop );
          }
        }
        ctrl.cars = data;
      });
    };

    this.getReview = function(){
      var success = function(res) {
        if (res.editorial !== undefined){
          $('a#full-review').attr('href', res.editorial.link + "?tab-id=reviews-tab#overview-pod-anchor");  
        } else{
          $('a#full-review').attr('href', 'http://www.edmunds.com/');
        }
        $('#summary').html(res.editorial.metaDescription);
        $('#pros').html(res.editorial.pro);
        $('#cons').html(res.editorial.con);
        $('#introduction').html(res.editorial.introduction);
        $('#body').html(res.editorial.body);
        $('#verdict').html(res.editorial.edmundsSays);
      };

      var fail = function(res){
        console.log('failed to get review');
      };

      var options = {
        "make": makeName,
        "model": modelName,
        "year": ctrl.model.years[0]
      };

      res.api('/v1/content/editorreviews', options, success, fail);

    };

    this.selectCar = function(car){
      ctrl.selected_car = car;
    };

    this.isSelected = function(car){
      return ctrl.selected_car === car;
    }

    this.showVerticalRule = function(e){
      $('.vertical-rule').removeClass('hide');
      var parentOffset = $('.vertical-rule').parent().offset();
      var x = e.pageX - parentOffset.left - 3;
      var y = e.pageY;
      $('.vertical-rule').attr("style", "left:" + x + "px;");
    };

    this.hideVerticalRule = function(){
      $('.vertical-rule').addClass('hide');
    };

    this.showTooltip = function(c, values){
      var options = {
        'show': true,
          'placement': 'top',
          'title': values + ' hp'
      };
      $('.'+ c).tooltip(options)
    };
  }]);
</script>

{% endblock %}