{% extends "base.html" %}

{% block extrahead %}
<style type="text/css">

#manufacturers input[type=checkbox] {
  display:none;
}

#manufacturers input[type=checkbox] + label
{
  background-color: #eee;
  color: #444;
  height: 20px;
  width: 100%;
  display:block;
  margin-bottom: 2px;
  text-align: center;
}

#manufacturers input[type=checkbox]:checked + label
{
  background-color: #444;
  color: #eee;
}

.text-muted{
  color: #aaa;
}

#body-types > div{
  width: 23%;
  display: inline-block;
  padding: 5px;
}

#body-types > div > img {
  cursor: pointer;
  opacity: 0.6;
  width: 100%;
}

#body-types img.selected, #body-types img:hover{
  opacity: 1;
}

</style>
{% endblock %}

{% block content %}
{% raw %}
<div ng-app="searchApp">

  <div class="row" ng-controller="SearchController as search">

    <div class="col-sm-3"> <!-- Search Controls -->
      <input ng-model="search.params.keywords" ng-keyup="search.searchCars()" type="text" id="search-input" class="form-control" placeholder="Model Name">
      <br>
      <small>{{search.params.budget.min | currency:undefined:0 }} to {{search.params.budget.max === '200000' ? 'more than' : ''}} {{search.params.budget.max | currency:undefined:0}}</small>
      <slider floor="10000" ceiling="200000" ng-model-low="search.params.budget.min" ng-model-high="search.params.budget.max"></slider>
      <small>Better than {{search.params.mileage}} mpg</small>
      <slider floor="1" ceiling="50" step="0.1" precision="1" ng-model="search.params.mileage"></slider>

      <br>
      <a class="btn btn-primary btn-block" ng-click="search.searchCars()">Search</a>
      <p class="text-center"><small class="text-center"><a href="#">[ reset everything ]</a></small></p>
      <!-- <br> -->
      <!-- <a class="btn btn-default btn-block btn-sm" ng-click="search.resetParams()">Reset</a> -->
      
      <hr>

      <div>
        <div id="body-types" class="text-center">
          <div><img id="hatchback" src="/static/img/hatchback-icon.png" ng-click="search.addBodyType('hatchback')" ng-class="{selected : search.params.bodyTypes.hatchback}"></div>
          <div><img id="sedan" src="/static/img/sedan-icon.png" ng-click="search.addBodyType('sedan')" ng-class="{selected : search.params.bodyTypes.sedan}"></div>
          <div><img id="convertible" src="/static/img/convertible-icon.png" ng-click="search.addBodyType('convertible')" ng-class="{selected : search.params.bodyTypes.convertible}"></div>
          <div><img id="suv" src="/static/img/suv-icon.png" ng-click="search.addBodyType('suv')" ng-class="{selected : search.params.bodyTypes.suv}"></div>
        </div>

        <br>

        <div id="manufacturers" ng-repeat="make in search.params.makes">
          <input type='checkbox' ng-model="make.is_selected" ng-change="search.searchCars()" id="{{make._id.$oid}}"/><label for="{{make._id.$oid}}">{{make.name}}</label>
        </div>
      </div>
    </div> <!-- End Search Controls -->

    <div id="search-results" class="col-sm-9"> <!-- Results -->
      <div class="vertical-rule hide" style="left: 400px;"></div>
      
      <div class="row"> <!-- Cars -->

        <div class="col-sm-6"> <!-- Real time search results -->
          <h6>
            <a class="toggle-search-view" href="" ng-class="{ hide : search.searchViewCondensed === false }" ng-click="search.expandSearchView()">
              <span class="glyphicon glyphicon-plus"></span>
            </a>
            <a class="toggle-search-view" href="" ng-class="{ hide : search.searchViewCondensed === true }" ng-click="search.condenseSearchView()">
              <span class="glyphicon glyphicon-minus"></span>
            </a>
            Search Results ({{search.searchCount}} cars)
          </h6>
          <hr>

          <div id="real-time" infinite-scroll="search.loadMoreCars()">
            <div ng-show="!search.cars.length">
              <h3 class="text-muted">Welcome to Carbon Fiber - quick and easy car research for enthusiasts.</h3>
              <h3 class="text-muted">Use the controls on the left to set your requirements and search for cars.</h3>
            </div>
            <div class="car" ng-repeat="car in search.cars">
              <div class="heading" ng-class="{hide:car.condenseView}">
                <a class="pin" href="#"><span class="pin glyphicon glyphicon-pushpin" ng-click="search.pinCar(car); $event.preventDefault()"></span></a>
                <small><strong><a href="/model/{{car.make_nice_name}}/{{car.nice_name}}">{{car.full_name}}</a></strong></small>
              </div>
              <hr ng-class="{hide:car.condenseView}">
              <div class="specs">
                <a class="pin" href="#" ng-class="{hide:!car.condenseView}"><span class="pin glyphicon glyphicon-pushpin" ng-click="search.pinCar(car); $event.preventDefault()"></span></a>
                <div class="graphs" ng-click="car.condenseView = !car.condenseView">
                  <div class="power bar" ng-mousemove="search.showVerticalRule($event, car.specs_range.power, 'hp')" ng-mouseout="search.hideVerticalRule()" tooltip="{{car.specs_range.power[0]}} - {{car.specs_range.power[1]}} hp" tooltip-placement='bottom'>
                    <div class="max" style="width: {{search.math.min(100,car.specs_range.power[1] / 7.0)}}%;"></div>
                    <div class="min" style="width: {{search.math.min(100,car.specs_range.power[0] / 7.0)}}%;"> </div>
                  </div>
                  <div class="torque bar" ng-mousemove="search.showVerticalRule($event)" ng-mouseout="search.hideVerticalRule()" tooltip="{{car.specs_range.torque[0]}} - {{car.specs_range.torque[1]}} ft-lbs" tooltip-placement="bottom"> 
                    <div class="max" style="width: {{search.math.min(100,car.specs_range.torque[1] / 8.2)}}%;"></div>
                    <div class="min" style="width: {{search.math.min(100,car.specs_range.torque[0] / 8.2)}}%;"></div> 
                  </div>
                  <div class="mileage bar" ng-mousemove="search.showVerticalRule($event)" ng-mouseout="search.hideVerticalRule()" tooltip="{{car.specs_range.mileage[0]}} - {{car.specs_range.mileage[1]}} mpg" tooltip-placement="bottom"> 
                    <div class="max" style="width: {{search.math.min(100, car.specs_range.mileage[1] * 1.5)}}%;"></div>
                    <div class="min" style="width: {{search.math.min(100, car.specs_range.mileage[0] * 1.5)}}%;"></div>
                  </div>
                </div>

                <div class="condensed-details text-right" ng-class="{hide:!car.condenseView}">
                  <!-- <small><strong><a href="/model/{{car.make_nice_name}}/{{car.year}}/{{car.nice_name}}">{{car.name}} ({{car.year}})</a></strong></small> -->
                </div>

                <div class="misc" ng-class="{hide:car.condenseView}">
                  <span class="price"><small>{{car.price_range[0] | currency:undefined:0}} - {{car.price_range[1] | currency:undefined:0}}</small></span>
                  <small class='details'>
                    <span class="badge primary transmission" tooltip-html-unsafe="<h5>Transmission</h5><p>{{car.specs_range.transmission_types.join(', ')}}</p>" tooltip-placement="bottom">
                     <small ng-repeat="f in car.specs_range.transmission_types">{{search.getInitials(f) | uppercase }}{{$last ? '' : ' | '}}</small>
                    </span>
                    <span class="badge default fuel" tooltip-html-unsafe="<h5>Fuel Types</h5><p>{{car.specs_range.fuel_types.join(', ')}}</p>" tooltip-placement="bottom">
                     <small ng-repeat="f in car.specs_range.fuel_types">{{search.getInitials(f) | uppercase }}{{$last ? '' : ' | '}}</small>
                    </span>
                  </small>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- End Real Time Results -->

        <div class="col-sm-6"> <!-- Pinned -->
          <div id="pinned-cars">
            <h6>Pin Board</h6>
            <hr>
            <div ng-show="!search.pinned.length">
              <h3 class="text-muted">Pin cars you like. They appear here for easy comparison.</h3>
            </div>
            <div class="car" ng-repeat="car in search.pinned">
              <div class="heading">
                <a class="pin" href="#"><span class="pin glyphicon glyphicon-pushpin" ng-click="search.unpinCar(car); $event.preventDefault()"></span></a>
                <small><strong><a href="/model/{{car.make_nice_name}}/{{car.nice_name}}">{{car.full_name}}</a></strong></small>
              </div>
              <hr>
              <div class="specs">
                <div class="graphs">
                  <div class="power bar" ng-mousemove="search.showVerticalRule($event, car.specs_range.power, 'hp')" ng-mouseout="search.hideVerticalRule()" tooltip="{{car.specs_range.power[0]}} - {{car.specs_range.power[1]}} hp" tooltip-placement='bottom'>
                    <div class="max" style="width: {{search.math.min(100,car.specs_range.power[1] / 7.0)}}%;"></div>
                    <div class="min" style="width: {{search.math.min(100,car.specs_range.power[0] / 7.0)}}%;"> </div>
                  </div>
                  <div class="torque bar" ng-mousemove="search.showVerticalRule($event)" ng-mouseout="search.hideVerticalRule()" tooltip="{{car.specs_range.torque[0]}} - {{car.specs_range.torque[1]}} ft-lbs" tooltip-placement="bottom"> 
                    <div class="max" style="width: {{search.math.min(100,car.specs_range.torque[1] / 8.2)}}%;"></div>
                    <div class="min" style="width: {{search.math.min(100,car.specs_range.torque[0] / 8.2)}}%;"></div> 
                  </div>
                  <div class="mileage bar" ng-mousemove="search.showVerticalRule($event)" ng-mouseout="search.hideVerticalRule()" tooltip="{{car.specs_range.mileage[0]}} - {{car.specs_range.mileage[1]}} mpg" tooltip-placement="bottom"> 
                    <div class="max" style="width: {{search.math.min(100, car.specs_range.mileage[1] * 1.5)}}%;"></div>
                    <div class="min" style="width: {{search.math.min(100, car.specs_range.mileage[0] * 1.5)}}%;"></div>
                  </div>
                </div>  
                <div class="misc">
                  <span class="price"><small>{{car.price_range[0] | currency:undefined:0}} - {{car.price_range[1] | currency:undefined:0}}</small></span>
                  <small class='details'>
                    <span class="badge primary transmission" tooltip-html-unsafe="<h5>Transmission</h5><p>{{car.specs_range.transmission_types.join(', ')}}</p>" tooltip-placement="bottom">
                     <small ng-repeat="f in car.specs_range.transmission_types">{{search.getInitials(f) | uppercase }}{{$last ? '' : ' | '}}</small>
                    </span>
                    <span class="badge default fuel" tooltip-html-unsafe="<h5>Fuel Types</h5><p>{{car.specs_range.fuel_types.join(', ')}}</p>" tooltip-placement="bottom">
                     <small ng-repeat="f in car.specs_range.fuel_types">{{search.getInitials(f) | uppercase }}{{$last ? '' : ' | '}}</small>
                    </span>
                  </small>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- End Pinned -->

      </div>      
      
    </div>

  </div>

</div>
{% endraw %}

{% endblock %}

{% block extrascripts %}
<script type="text/javascript" src="/static/js/ng-infinite-scroll.min.js"></script>
<script type="text/javascript" src="/static/js/ui-bootstrap-tpls-0.12.0.min.js"></script>
<script type="text/javascript" src="/static/js/search.js"></script>
{% endblock %}